In [2]:
import numpy as np
import pandas as pd
import random

In [23]:
n_trials = nrows = 100_000
n_dice = ncols = 4
rolls = np.random.choice([1,2,3,4,5,6], n_trials * n_dice).reshape(nrows, ncols)
rolls = pd.DataFrame(rolls, columns={0,1,2,'lucky_number'})
#below, i'm trying to get a count of the matches from our lucky number to the rolls
#rolls['matches'] = rolls.lucky_number.value_counts
rolls
#nice try...

       0  1  2  lucky_number
0      6  4  5             5
1      6  4  2             5
2      6  6  3             1
3      1  6  4             4
4      6  4  6             1
...   .. .. ..           ...
99995  5  5  2             4
99996  1  2  4             2
99997  5  6  4             6
99998  3  4  6             1
99999  1  5  2             4

[100000 rows x 4 columns]

In [34]:
rolls.groupby(by='lucky_number').agg(['count'])

                  0      1      2
              count  count  count
lucky_number
1             16794  16794  16794
2             16636  16636  16636
3             16619  16619  16619
4             16624  16624  16624
5             16654  16654  16654
6             16673  16673  16673

In [28]:
rolls.lucky_number == rolls[2]

0         True
1        False
2        False
3         True
4        False
         ...
99995    False
99996    False
99997    False
99998    False
99999    False
Length: 100000, dtype: bool

### What are your chances of getting an outcome payout of $2? (where we earned 3 on the 1 ante)

In [13]:
(rolls.duplicates == 1).mean()

0.02789

### What are your chances of getting an payout of $1?

In [14]:
(rolls.duplicates == 2).mean()

0.41714

### What are your chances of getting a payout of 0 (where you ante 1 and win $1)?

What are your chances of getting a payout of -$1 where you ante up, but don't win anything?

What is the average cost/gain per game? (think of averaging the total payout calculation across all simulations)

Chart out a histogram of all the outcomes of those 1,000,000 games

Is this really a fair game of 1/6 + 1/6 + 1/6 odds?

If you play 1,000,000 games in a row, what are your winnings/losses?