In [2]:
import numpy as np
import pandas as pd
import random

In [5]:
n_trials = nrows = 100_000
n_dice = ncols = 3
#here's your "roll": there are six possibilities
rolls = np.random.choice([1,2,3,4,5,6], n_trials * n_dice).reshape(nrows, ncols)
rolls = pd.DataFrame(rolls)
rolls['duplicates'] = rolls.nunique(axis=1)
rolls
#nice try...

       0  1  2  duplicates
0      1  4  4           2
1      4  1  1           2
2      2  1  5           3
3      5  3  2           3
4      4  2  2           2
...   .. .. ..         ...
99995  1  1  2           2
99996  5  6  4           3
99997  4  2  5           3
99998  5  6  4           3
99999  4  2  5           3

[100000 rows x 4 columns]

### What are your chances of getting an outcome payout of $2? (where we earned 3 on the 1 ante)

In [13]:
(rolls.duplicates == 1).mean()

0.02789

### What are your chances of getting an payout of $1?

In [14]:
(rolls.duplicates == 2).mean()

0.41714

### What are your chances of getting a payout of 0 (where you ante 1 and win $1)?

What are your chances of getting a payout of -$1 where you ante up, but don't win anything?

What is the average cost/gain per game? (think of averaging the total payout calculation across all simulations)

Chart out a histogram of all the outcomes of those 1,000,000 games

Is this really a fair game of 1/6 + 1/6 + 1/6 odds?

If you play 1,000,000 games in a row, what are your winnings/losses?