In [49]:
import numpy as np
import pandas as pd
import random

In [50]:
n_trials = nrows = 100_000
n_dice = ncols = 4
rolls = np.random.choice([1,2,3,4,5,6], n_trials * n_dice).reshape(nrows, ncols)
rolls = pd.DataFrame(rolls, columns={0,1,2,'lucky_number'})
#below, i'm trying to get a count of the matches from our lucky number to the rolls
#rolls['matches'] = rolls.lucky_number.value_counts
rolls
#nice try...

       0  1  2  lucky_number
0      4  2  6             5
1      4  5  5             5
2      1  4  5             4
3      3  4  2             2
4      1  1  2             6
...   .. .. ..           ...
99995  3  5  4             3
99996  5  4  6             2
99997  5  5  4             1
99998  1  3  3             4
99999  1  2  6             3

[100000 rows x 4 columns]

In [51]:
rolls['match_0'] = rolls[0]==rolls['lucky_number']
rolls['match_1'] = rolls[1]==rolls['lucky_number']
rolls['match_2'] = rolls[2]==rolls['lucky_number']


rolls.sample(10)

       0  1  2  lucky_number  match_0  match_1  match_2
1052   1  2  5             4    False    False    False
43883  5  6  4             4    False    False     True
9223   4  6  6             1    False    False    False
26721  4  5  5             4     True    False    False
82565  4  5  3             5    False     True    False
50072  4  3  6             1    False    False    False
20005  1  3  1             5    False    False    False
25289  2  5  4             6    False    False    False
21209  3  6  5             3     True    False    False
45215  6  6  3             4    False    False    False

In [52]:
rolls['matches'] = rolls.select_dtypes(include=['bool']).sum(axis=1).astype(int)
rolls['matches'].convert_dtypes(int)
rolls.head(20)

    0  1  2  lucky_number  match_0  match_1  match_2  matches
0   4  2  6             5    False    False    False        0
1   4  5  5             5    False     True     True        2
2   1  4  5             4    False     True    False        1
3   3  4  2             2    False    False     True        1
4   1  1  2             6    False    False    False        0
5   2  5  4             3    False    False    False        0
6   5  2  2             6    False    False    False        0
7   4  1  3             6    False    False    False        0
8   1  2  1             2    False     True    False        1
9   3  6  1             4    False    False    False        0
10  4  6  3             4     True    False    False        1
11  6  2  5             2    False     True    False        1
12  6  4  1             1    False    False     True        1
13  2  4  5             1    False    False    False        0
14  4  5  3             2    False    False    False        0
15  5  5  2             3    False    False    False        0
16  5  6  4             4    False    False     True        1
17  2  1  4             2     True    False    False        1
18  2  5  1             3    False    False    False        0
19  3  5  1             6    False    False    False        0

In [53]:
rolls.matches.value_counts()

0    57538
1    35032
2     6934
3      496
Name: matches, dtype: int64

### What are your chances of getting an outcome payout of $2? (where we earned 3 on the 1 ante)

In [54]:
(rolls.matches == 3.0).mean()

0.00496

### What are your chances of getting an payout of $1?

In [55]:
(rolls.matches == 2).mean()

0.06934

### What are your chances of getting a payout of 0 (where you ante 1 and win $1)?

In [56]:
(rolls.matches == 1).mean()

0.35032

### What are your chances of getting a payout of -$1 where you ante up, but don't win anything?

In [57]:
(rolls.matches == 0).mean()

0.57538

### What is the average cost/gain per game? (think of averaging the total payout calculation across all simulations)

### Chart out a histogram of all the outcomes of those 1,000,000 games

### Is this really a fair game of 1/6 + 1/6 + 1/6 odds?

### If you play 1,000,000 games in a row, what are your winnings/losses?